*.local
__history
Debug/
Release/
*.dsk
out/
*.sdf
*.suo
*.user
*.~*
icph/
ipch/
html/
latex/
*.vcxproj.filters
*.opensdf
/test/test
/test/test1
/test/asString
/test/build/msvc2012/serialized.dat
/test/build/msvc2012/asString
/test/*.TMP
